@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/background.jpg");
}

ul li {
  list-style: none;
}

button,
input {
  border: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
ul {
  margin: 0;
}

header {
  width: 100%;
  height: 85px;
  background-color: transparent;
  border-bottom: 1px solid #FFFFFF;
}
header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1368px;
  height: 100%;
  background-color: transparent;
  margin: 0 auto;
}
header .header__content .project__name h1 {
  font-family: "Antonio";
  font-weight: 400;
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: -1.05px;
  text-transform: uppercase;
}
header .header__content .header__navigation {
  height: 100%;
}
header .header__content .header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
header .header__content .header__navigation ul li:not(:last-child) {
  margin-right: 33px;
}
header .header__content .header__navigation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Spartan";
  font-weight: 700;
  font-size: 11px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.75;
  cursor: pointer;
  border-top: 4px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .header__content .header__navigation ul li:hover {
  border-top: 4px solid #419EBB;
}
header .header__content .toggle {
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 17px;
  background-color: transparent;
}
header .header__content .toggle .toggler {
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
}
header .header__content .toggle .toggler::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  top: 0;
}
header .header__content .toggle .toggler::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  bottom: 0;
}

@media only screen and (max-width: 1400px) {
  header .header__content {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  header .header__content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 700px) {
  header .header__content {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .header__content .header__navigation {
    display: none;
  }
  header .header__content .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.planets__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 87px;
}
.planets__info .bottom__info2 {
  display: none;
}
.planets__info .planets__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  padding-top: 187px;
}
.planets__info .planets__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  height: 100%;
  padding-top: 126px;
}
.planets__info .planets__info .information {
  width: 350px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.planets__info .planets__info .information .top__info h2 {
  font-family: "Antonio";
  font-weight: 400;
  font-size: 80px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.planets__info .planets__info .information .top__info p {
  font-family: "Sparton";
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 25px;
  margin-bottom: 24px;
}
.planets__info .planets__info .information .top__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 39px;
  font-family: "Spartan";
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.planets__info .planets__info .information .top__info div span {
  font-weight: 700;
  margin-left: 4px;
}
.planets__info .planets__info .information .top__info div img {
  margin-left: 8px;
}
.planets__info .planets__info .information .bottom__info {
  display: block;
}
.planets__info .planets__info .information .bottom__info article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 12px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 2.57143px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #FFFFFF;
}
.planets__info .planets__info .information .bottom__info article:not(:last-child) {
  margin-bottom: 16px;
}
.planets__info .planets__info .information .bottom__info article:hover {
  background: #D8D8D8;
}
.planets__info .planets__info .information .bottom__info article h3 {
  font-family: "Spartan";
  font-weight: 700;
  font-size: 12px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-right: 28px;
}
.planets__info .planets__info .information .bottom__info article span {
  font-family: "Spartan";
  font-weight: 700;
  font-size: 12px;
  color: #FFFFFF;
}
.planets__info .planets__info .information .bottom__info article.active {
  background-color: #EDA249;
}

@media only screen and (max-width: 1110px) {
  .planets__info {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .planets__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .planets__info .planets__img {
    width: 100%;
    padding-top: 146px;
    padding-bottom: 130px;
  }
  .planets__info .planets__info {
    width: 100%;
    padding-top: 0;
  }
  .planets__info .planets__info .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 689px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  .planets__info .planets__info .information .top__info {
    width: 50%;
  }
  .planets__info .planets__info .information .bottom__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 50%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .planets__info .planets__info .information .bottom__info article {
    width: 281px;
  }
}
@media only screen and (max-width: 700px) {
  .planets__info .bottom__info2 {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .planets__info .bottom__info2 article span {
    font-family: "Spartan";
    font-weight: 700;
    font-size: 9px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1.92857px;
    text-transform: uppercase;
  }
  .planets__info .planets__info .information {
    width: 100%;
  }
  .planets__info .planets__info .information .top__info {
    width: 100%;
  }
  .planets__info .planets__info .information .top__info h2 {
    text-align: center;
  }
  .planets__info .planets__info .information .top__info p {
    text-align: center;
  }
  .planets__info .planets__info .information .top__info div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .planets__info .planets__info .information .bottom__info {
    display: none;
  }
}
.planets__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1110px;
  margin: 0 auto;
  margin-bottom: 56px;
}
.planets__description article {
  width: 255px;
  padding: 25px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.planets__description article h6 {
  font-family: "Spartan";
  font-weight: 700;
  font-size: 11px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 0;
  margin-bottom: 4px;
}
.planets__description article span {
  font-family: "Antonio";
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1110px) {
  .planets__description {
    width: 100%;
    padding: 0px 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    gap: 20px;
  }
}
@media only screen and (max-width: 840px) {
  .planets__description {
    width: 100%;
    padding: 0px 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .planets__description {
    width: 100%;
    gap: 0;
  }
  .planets__description article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .planets__description article:not(:last-child) {
    margin-bottom: 8px;
  }
}/*# sourceMappingURL=style.css.map */