header {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    border-bottom: 1px solid #FFFFFF;

    .header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1368px;
        height: 100%;
        background-color: transparent;
        margin: 0 auto;

        .project__name {
            h1 {
                @include forTexts('Antonio', 400, 28px, #FFFFFF);
                letter-spacing: -1.05px;
                text-transform: uppercase;
            }
        }

        .header__navigation {
            height: 100%;

            ul {
                display: flex;
                align-items: center;
                height: 100%;

                li:not(:last-child) {
                    margin-right: 33px;
                }

                li {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    @include forTexts ('Spartan', 700, 11px, #FFFFFF);
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    mix-blend-mode: normal;
                    opacity: 0.75;
                    cursor: pointer;
                    border-top: 4px solid transparent;
                    box-sizing: border-box;
                    transition: .3s;
                    padding: 27px 0;
                    box-sizing: border-box;

                    &:hover {
                        border-top: 4px solid #419EBB;
                    }
                }
            }
        }

        .toggle {
            position: relative;
            display: none;
            align-items: center;
            width: 24px;
            height: 17px;
            background-color: transparent;

            .toggler {
                width: 100%;
                height: 3px;
                background-color: #FFFFFF;
            }

            .toggler::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 3px;
                background-color: #FFFFFF;
                top: 0;
            }

            .toggler::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 3px;
                background-color: #FFFFFF;
                bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    header {
        padding: 16px;
        box-sizing: border-box;

        .header__content {
            width: 100%;

            
        }
    }
}

@media only screen and (max-width: 900px) {
    header {
        .header__content {
            width: 100%;
            flex-direction: column;

            .project__name {
                h1 {
                    margin-bottom: 39px;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    header {
        position: relative;

        .header__content {
            width: 100%;
            flex-direction: row;

            .project__name {
                h1 {
                    margin-bottom: 0;
                }
            }

            .header__navigation {
                display: none;
            }

            .toggle {
                display: flex;
            }
        }

        .toggle__menu {
            position: absolute;
            display: none;
            width: 100%;
            height: 100vh;
            left: 0;
            top: 85px;
            background: #070724;
            padding: 44px 32px 0 24px;
            box-sizing: border-box;

            &.active {
                display: block;
            }

            ul {
                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 20px;
                    box-sizing: border-box;
                    border-bottom: 1px solid #FFFFFF;
                    cursor: pointer;

                    span {
                        @include forTexts('Spartan', 700, 15px, #FFFFFF);
                        letter-spacing: 1.36364px;
                        text-transform: uppercase;
                        margin-left: 25px;
                        
                    }
                }

                li::before {
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 20px;
                    left: 0;
                    border-radius: 100%;
                }

                li:nth-child(1)::before {
                    background: #DEF4FC;
                }

                li:nth-child(2)::before {
                    background: #F7CC7F;
                }

                li:nth-child(3)::before {
                    background: #545BFE;
                }

                li:nth-child(4)::before {
                    background: #FF6A45;
                }

                li:nth-child(5)::before {
                    background: #ECAD7A;
                }

                li:nth-child(6)::before {
                    background: #FCCB6B;
                }

                li:nth-child(7)::before {
                    background: #65F0D5;
                }

                li:nth-child(8)::before {
                    background: #497EFA;
                }
            }
        }
    }
}